body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  display: block;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h4 {
  display: block;
  margin-block-start: .7em;
  margin-block-end: .7em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}


button {
  padding: 15px;
  margin: 15px;
  font-size: 20px;
  font-weight: bold;
  background: rgb(6,4,45);
  background: linear-gradient(120deg, rgba(6,4,45,1) 0%, rgba(14,14,110,1) 43%, rgba(26,157,209,1) 100%);
  color: white;
  border-radius: 10px;
}

button > * {
  pointer-events: none;
}

button:focus {
  background: rgb(99,8,8);
  background: linear-gradient(120deg, rgba(99,8,8,1) 0%, rgba(187,40,40,1) 46%, rgba(255,187,187,1) 100%);

}

.choose_view {
  color: black;
  font-weight: bold;
}

.content {
  margin: 50px;
  width: 1200px;
  padding: 50px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px gray;
  justify-content: center;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boxscore {
  color: black;
  margin: 15px;
  border-radius: 10px;
}

.boxscore_table {
  width: 1000px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px gray;
  border-collapse: collapse;
}

.boxscore_table td {
  width: 100px;
  border: 1px double lightgray;
}

.boxscore_table th {
  width: 100px;
  /* background-color: lightgray; */
}

thead {
  background: rgb(6,4,45);
  background: linear-gradient(120deg, rgba(6,4,45,1) 0%, rgba(14,14,110,1) 43%, rgba(26,157,209,1) 100%);
  color: white;
  border-radius: 10px;
}

.boxscore_table tr {
  border: 1px double lightgray;
  border-radius: 10px;
}

.summary {
  display: flex;
  width: 1000px;
  margin: 15px;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 10px gray;
  background: rgb(6,4,45);
  background: linear-gradient(120deg, rgba(6,4,45,1) 0%, rgba(14,14,110,1) 43%, rgba(26,157,209,1) 100%);
  color: white;
  border-radius: 5px;
  border-color: black;
  border-bottom: 1px solid #dcdddf;
}

.team_summary {
  width: 700px;
  margin: 10px;
  padding: 0px;
  font-weight: bold;
}

.hitter_container {

  justify-content: center;
}

.hitter_stats {
  color: black;
  margin: 10px;
  padding: 10px;
  /* width: 50%; */
}

.hitter_table {
  width: 600px;
  border-radius: 5px;
  border-color: black;
  border-bottom: 1px solid #dcdddf;
  box-shadow: 0px 0px 10px gray;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.hitter_table td {
  font-size: 16px;
  background-color: white;
  border-radius: 10px;
}

.hitter_table th {
  font-size: 16px;
  border-bottom: 1px double lightgray;
}

.hitter_table tr {
  border-bottom: 1px double lightgray;
}

.player_name {
  width: 200px;
}

/* NBA PLAYER STAT TABLES */
.player_stats {
  color: black;
  margin: 10px;
  padding: 10px;
  width: 1000px;
}

.player_table {
  width: 100%;
  border-radius: 10px;
  border-color: black;
  border-bottom: 1px solid #dcdddf;
  box-shadow: 0px 0px 10px gray;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.player_table td {
  font-size: 16px;
  border-radius: 10px;
  background-color: white;
}

.player_table th {
  font-size: 16px;
  border-bottom: 1px double lightgray;
}

.player_table tr {
  border-bottom: 1px double lightgray;
}

th:first-child { border-top-left-radius: 5px; }
th:last-child  { border-top-right-radius: 5px; }


