body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.boxscore {
  color: black;
  border-radius: 10px;
}

.boxscore_table {
  width: 1000px;
  border-radius: 5px;
  border-color: black;
  border-bottom: 1px solid #dcdddf;
}

.boxscore_table td {
  width: 100px;
  background-color: white;
  border-color: black;
}

.boxscore_table th {
  width: 100px;
  background-color: grey;
  border-color: black;
}
